<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/layout :: head}">
    <title>List product</title>
</head>
<body>
<h1>List product</h1>
<form th:action="@{/products/search}" method="get">
    <table>
        <tr>
            <th>Name:</th>
            <th>Min Price:</th>
            <th>Max Price:</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="text" name="name" placeholder="Search product's name..." th:value="${name}"></td>
            <td><input type="text" name="minPrice" placeholder="Min price..." th:value="${minPrice}"></td>
            <td><input type="text" name="maxPrice" placeholder="Max price..." th:value="${maxPrice}"></td>
            <td><button type="submit">Search</button></td>
        </tr>
    </table>
</form>
<div th:if="${errorMessage}">
    <span th:text="${errorMessage}"></span>
</div>
<a th:href="@{/products/add}"><button>Create product</button></a>
<div class="notify" th:if="${message}">
    <span th:text="${message}"></span>
</div>

<table id="products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${products}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.quantity}"></td>
        <td th:text="${row.description}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${row.id})}"><button>Edit</button></a>
            <button type="button"
                    th:attr="data-id=${row.id}, data-name=${row.name}"
                    onclick="showDeleteModal(this)">
                Delete
            </button>
            <a th:href="@{/products/{id}/detail(id=${row.id})}"><button>Detail</button></a>
        </td>
    </tr>
    </tbody>
</table>
<div th:replace="~{common/layout :: delete-modal}"></div>
</body>
<script th:replace="~{common/layout :: scripts}"></script>
</html>