* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    background: #121214;
    color: white;
}

h1 {
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-shadow: 5px 5px 10px #666666;
}
h2 {
    font-size: 2.5rem;
}
h5 {
    font-size: 1.25rem;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    margin: 1rem;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 33rem;
    margin-bottom: 5rem;
    box-shadow: 5px 5px 10px #666666;
}

body {
    padding-left: 10rem;
    padding-right: 10rem;
}

.chapter-header {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.content {
    text-align: justify;
    margin-bottom: 10rem;
}

ul {
    margin-bottom: 8rem
}