html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: #222222;
    color: #96989A;
    padding: 15px 20px;
}

.left {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    font-weight: bold;
}

.navbar .menu a,
.login {
    margin: 0 10px;
    color: #96989A;
    text-decoration: none;
}

.menu a:hover,
.login:hover {
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex: 1;
}

.left-sidebar {
    background: #F1F1F1;
    text-align: center;
    padding-top: 20px;
}

.left-sidebar a {
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #66A1D0;
}

.content {
    padding: 20px;
}

.right-sidebar {
    background: #F1F1F1;
}

.ads {
    border: 1px solid #ddd;
    padding: 40px 0;
    margin: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #555555;
    color: #fff;
}

.left-sidebar,
.right-sidebar,
.content {
    grid-column: 12 span;
}

@media (min-width: 768px) {
    .left-sidebar {
        grid-column: span 3;
    }

    .content {
        grid-column: span 6;
    }

    .right-sidebar {
        grid-column: span 3;
    }
    .navbar {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .left-sidebar {
        grid-column: span 2;
    }

    .content {
        grid-column: span 8;
    }

    .right-sidebar {
        grid-column: span 2;
    }
}