html,
body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    background: lightcyan;
    margin-bottom: 5px;
}

.navbar {
    display: flex;
    background: lightcyan;
    flex-direction: column;
    align-items: center;
}

.navbar a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: gray;
}

.left-sidebar img {
    width: 100%;
    height: auto;
    display: block;
}

.content iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    flex: 1;
}

.left-sidebar {
    text-align: justify;
    padding-top: 20px;
}

.left-sidebar div {
    padding-top: 10px;
}

.content {
    padding: 20px;
}

footer {
    background: lightcyan;
    text-align: center;
    padding: 20px;
}

.left-sidebar,
.content {
    grid-column: span 12;
}

.content {
    order: 1;
}

.left-sidebar {
    order: 2;
}

@media (min-width: 768px) {
    .left-sidebar {
        grid-column: span 3;
        order: 1;
    }

    .content {
        grid-column: span 9;
        order: 2;
    }
    .navbar {
        flex-direction: row;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .left-sidebar {
        grid-column: span 2;
        order: 1;
    }

    .content {
        grid-column: span 8;
        order: 2;
    }
}